<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let one of heroes"
        [class.selected]="one===hero"
        (click)="onSelect(one)"
            >
        <span class="badge">{{one.id}}</span> {{one.name}}
    </li>
</ul>
<div *ngIf="selectedHero">
    <h2>
        {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>